.button {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    padding: 1em 2em;
    border: none;
    background-color: #DD6973;
    color: #fff;
    border-radius: 64px;
}

.button:hover {
    background-color: #ff7b86;
}