/* グローバルな色の変数 */
:root {
  /* 主要色（Primary colors） */
  --primary: #ff8c00; /* プライマリー色（例: ボタン、リンク） */
  --secondary: #666; /* セカンダリー色（例: 補助情報） */

  /* 状態色（Status colors） */
  --success: #28a745; /* 成功色（例: 成功メッセージ） */
  --warning: #ffc107; /* 警告色（例: 警告メッセージ） */
  --danger: #dc3545; /* 危険色（例: エラーメッセージ） */

  /* テキストと背景 */
  --text-primary: #333; /* 主要テキスト色 */
  --text-secondary: #fff; /* 補助テキスト色 */
  --background-primary: #fff; /* 主要背景色 */
  --background-primary-dark: #333; /* 主要背景色 */
  --background-secondary: #fff2e8; /* 補助背景色 */

  /* フォント */
  --font-com: "Noto Sans JP", sans-serif;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-com);
  font-weight: 500;
}


  /* フォームの仮CSS */
input[number],select {
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fcfcfc;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    border: solid 2px #d3d3d3;
    min-width: 198px;
}

/* すべてのラジオボタンを非表示にする */
input[type="radio"] {
  display: none;
}

/* すべてのラベルをカードとしてスタイリング */
label {
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* ラベルが関連づけられたラジオボタンが選択されたときのスタイル */
input[type="radio"]:checked + label {
  background-color: #67999B;
  border: 2px solid #67999B;
  color: #fff;
  border: none;
}

  input,select {
    border: 1px solid #d6cdbb;
    border-radius: 8px;
    box-shadow: none;
    color: #555555;
    flex: none;
    font-feature-settings: 'palt' 1;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0.05em;
    line-height: 1.4;
    opacity: 1;
    padding: 8px 16px 8px;
    text-align: left;
    margin-right: 8px;
  }
