.button {
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    background-color: #2589d0;
    text-decoration: none;
}

.button span {
    color: #fff;
}

.button:hover {
    background-color: #1579c0;
}