.formSection {
  /* スマホのスタイル */
  @media (max-width: 767px) {
    margin: 16px;
    padding: 16px;
  }

  /* PCとタブレットのスタイル */
  @media (min-width: 768px) {
    margin: 40px 16%;
    padding: 32px;
  }

  display: grid;
  justify-content: center;
  background-color: var(--background-secondary);
  border: 2px solid #eee;
  border-radius: 8px;
}

/* 親要素を中央寄せにする */
.circleMask {
  text-align: center;
}

/* 画像をマスクする */
.maskedImage {
  object-fit: cover; /* アスペクト比を維持しながらフィルする */
  overflow: hidden; /* はみ出た部分を隠す */
  border-radius: 50%; /* 円形にする */
  border: 2px solid #eee;;
  margin-top: 24px;
}

.formDescription {
  text-align: center;
}

.subheading h2 {
  margin: 4px;
  color: #666;
  background-color: var(--background-primary);
  padding: 4px 16px;
  display: inline-block;
  border-radius: 4px;
  font-weight: normal;
}

.subheading svg {
  font-size: 18px;
  margin-right: 8px;
}

.required {
  position: relative;
}

.unit {
  margin: 0 8px;
}

.required::after {
  position: absolute;
  content: "必須";  /* 追加するテキスト */
  color: #fff;      /* テキストの色 */
  margin-left: 8px; /* 左マージン */
  padding: 4px 8px 4px;
  background: #DD6973;
  border-radius: 12px;
  font-size: 60%;
  letter-spacing: 0.05em;
}

.formSupplement {
  font-size: small;
}